@model Models.Entities.ActivityInstanceSeason

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityInstanceSeason</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityInstanceId" class="control-label">ActivityInstance</label>
                <select asp-for="ActivityInstanceId" class ="form-control" asp-items="ViewBag.ActivityInstanceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label">Season</label>
                <select asp-for="SeasonId" class ="form-control" asp-items="ViewBag.SeasonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
