@model UserRecordViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.UserId == 0)
            {
                <div class="form-group">
                    <label asp-for="OrganizationId" class="control-label">Organization</label>
                    <select id="OrganizationId" name="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId"></select>
                </div>
            }
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecordId" class="control-label">Record</label>
                <select asp-for="RecordId" class="form-control" asp-items="ViewBag.RecordId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DoneDate" class="control-label"></label>
                <input asp-for="DoneDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="DoneDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PaidDate" class="control-label"></label>
                <input asp-for="PaidDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="PaidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#OrganizationId').on('change', function () {
                var selectedOrganizationId = $(this).val();
                var userDropdown = $('#UserId');

                userDropdown.empty();

                userDropdown.append($('<option>').val('').text('Select User'));
                $.ajax({
                    url: '/UserRecords/GetUsersByOrganization',
                    type: 'GET',
                    data: { organizationId: selectedOrganizationId },
                    success: function (data) {
                        debugger;
                        $.each(data, function (i, item) {
                            userDropdown.append($('<option>').val(item.value).text(item.text));
                        });
                    }
                });
            });
        });
    </script>
}