@model IEnumerable<string>

@{
    ViewData["Title"] = "Roles";
}

<h1>Manage Roles</h1>

<p>
    <a asp-action="CreateRole" asp-route-userId="@ViewBag.UserId" >Create New Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a asp-action="DeleteRole" asp-route-userId="@ViewBag.UserId" asp-route-roleName="@item">Delete Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
