@model ClassroomFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Classroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" value="0"/>
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeId" class="control-label">Grade</label>
                <select asp-for="GradeId" class ="form-control" asp-items="ViewBag.GradeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture" class="form-control" accept=".jpg, .jpeg, .png" id="profilePictureInput">
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> ProfilePicture </label>
                <img id="imagePreview" src="#" alt="Profile Picture Preview" class="img-fluid rounded" style="max-width: 200px; max-height: 200px; display:none;">
            </div>
            <div class="form-group">
                <label asp-for="TeacherImage" class="control-label"></label>
                <input type="file" asp-for="TeacherImage" class="form-control" accept=".jpg, .jpeg, .png" id="teacherImageInput">
                <span asp-validation-for="TeacherImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Teacher Image </label>
                <img id="teacherImagePreview" src="#" alt="Teacher Image Preview" class="img-fluid rounded" style="max-width: 200px; max-height: 200px; display:none;">
            </div>
            <div class="form-group">
                <label asp-for="StudentImage" class="control-label"></label>
                <input type="file" asp-for="StudentImage" class="form-control" accept=".jpg, .jpeg, .png" id="studentImageInput">
                <span asp-validation-for="StudentImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Student Image </label>
                <img id="studentImagePreview" src="#" alt="Student Image Preview" class="img-fluid rounded" style="max-width: 200px; max-height: 200px; display:none;">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/site.js"></script>