@model Models.Entities.ClassRoom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClassRoom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade.Name)
        </dd>
        @if (!string.IsNullOrEmpty(Model.PicturePath))
        {
            <dt class="col-sm-3">Picture</dt>
            <dd class="col-sm-9">
                <img src="~/uploads/@Model.PicturePath" alt="Picture" class="img-fluid rounded" style="max-width: 200px; max-height: 200px;">
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
